<link rel="stylesheet" type="text/css" href="/replace-with-path-to-your-server/cardfields.css" />
<script src="/replace-with-path-to-your-server/shoppingCartManager.js" ></script>
<script src="https://www.paypal.com/sdk/js?client-id=AXnRF...&currency=GBP"></script>
<script src="/replace-with-path-to-your-server/payPalButtons.js" defer></script>

<div id="shoppingCartDiv"><h2>Your cart is empty</h2></div>
<div id="paypal-buttons"></div>
